{% extends "base.html" %}
{% load static %}

{% block title %}
    Checkout 
{% endblock %}

{% block content %}
<br><br>
  
<div class="container ">

  <div class="row ">
    {% for p in products %}
    <div class="col-6">
      <div class="card mx-5 shadow" style="border-radius: 10px; border:none; ">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">{{p.name}}</h5>
          <p class="card-text text-muted"><svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
          </svg>{{p.description}}</p>

          {% for plan in p.plan_set.all %}
          <h5 >{{ plan.human_readable_price }}</h5>
          <div class="text-right">
            <input type="checkbox" name="{{p.name}}" value="{{p.id}}" onclick="planSelect('{{p.name}}' ,'{{plan.human_readable_price}}', '{{plan.id}}')">
          {% endfor %}
          </div>
        </div>
      </div>

    </div>

    {% endfor %}
  </div>
  <br><br><hr><br><br>
  <div>
    <div class="row">
      <div class="col-12">
        <div class="card mx-5 shadow rounded" style="border-radius:50px;border:none">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Checkout</h5>
            <p class="text-muted ">Enter card details.  Your subscription will start immediately</p>
            <div class="row">
              <div class="col-6 text-muted">
                <p>Plan:</p>
                <p>Total:</p>
              </div>
              <div class="col-6 text-right">
                <p id="plan"></p>
                <p id="price"></p>
                <p hidden id="priceId"></p>
              </div>

            </div>
            <br>
            <form id="subscription-form" >
              <div id="card-element" class="MyCardElement">
                <!-- Elements will create input elements here -->
              </div>
              
              <!-- We'll put the error messages in this element -->
              <div id="card-errors" role="alert"></div>
              <button id="submit" type="submit">
                <p class="result-message hidden">
                    Payment succeeded, see the result in your
                    <a href="https://dashboard.stripe.com" target="_blank">Stripe dashboard.</a> Refresh the page to
                    pay again.
                </p>
                <div class="spinner-border  spinner-border-sm text-light hidden" id="spinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <span id="button-text">Subscribe</span>
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">

var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
document.querySelector("button").disabled = true;
  if (document.getElementById('card-element')) {
    let elements = stripe.elements();

    // Card Element styles
    let style = {
      base: {
        color: "#32325d",
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: "antialiased",
        fontSize: "16px",
        "::placeholder": {
          color: "#aab7c4"
        }
      },
      invalid: {
        color: "#fa755a",
        iconColor: "#fa755a"
      }
    };

    card = elements.create('card', { style: style });

    card.mount('#card-element');

    card.on('focus', function () {
      let el = document.getElementById('card-errors');
      el.classList.add('focused');
    });

    card.on('blur', function () {
      let el = document.getElementById('card-errors');
      el.classList.remove('focused');
    });

    card.on('change', function (event) {
      displayError(event);
    });
  }



function displayError(event) {
 
  let displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
}

function planSelect(name, price, priceId) {
    var inputs = document.getElementsByTagName('input');

    for(var i = 0; i<inputs.length; i++){
      inputs[i].checked = false;
      if(inputs[i].name== name){

        inputs[i].checked = true;
      }
    }

    var n = document.getElementById('plan');
    var p = document.getElementById('price');
    var pid = document.getElementById('priceId');
    n.innerHTML = name;
    p.innerHTML = price;
    pid.innerHTML = priceId;
        document.getElementById("submit").disabled = false;

  }


function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}



let paymentForm = document.getElementById('subscription-form');
if (paymentForm) {
  paymentForm.addEventListener("submit", function(event) {
  event.preventDefault();
  changeLoadingState(true);
  createPaymentMethod({ card });
  });
};

function createPaymentMethod({ card }) {
  var selectedPrice = document.getElementById("priceId").innerHTML
  // Complete payment when the submit button is clicked
  let billingName = '{{user.username}}';
  stripe
    .createPaymentMethod({
      type: 'card',
      card: card,
      billing_details: {
        name: billingName,
      },
    }).then((result) => {
      console.log(result)
      if (result.error) {
        displayError(result);
      } else {
       var paymentParams = {
          price_id: document.getElementById("priceId").innerHTML,
          payment_method: result.paymentMethod.id,
          email: "{{ user.email }}",
          price: document.getElementById("price").innerHTML
        }
      };
    fetch(`/create_subscription/${selectedPrice}/`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        'X-CSRFToken': getCookie('csrftoken')
      },
      credentials: 'same-origin',
      body: JSON.stringify(paymentParams),
    })
    .then(function(result) {
      return result.json();
    })
    .then(function(data) {
      console.log(data)
      payWithCard(stripe, card, data.clientSecret);
    });
});

// Calls stripe.confirmCardPayment
// If the card requires authentication Stripe shows a pop-up modal to
// prompt the user to enter authentication details without leaving your page.
var payWithCard = function(stripe, card, clientSecret) {
  changeLoadingState(true);
  let billingName = '{{user.username}}';
  stripe
    .confirmCardPayment(clientSecret, {
      payment_method: {
        card: card,
        billing_details: {
        name: billingName,
        address: {
          city: 'San Francisco',
          country: 'US',
          line1: '510 Townsend St',
          postal_code: '98140',
          state: 'CA',
        }, 
      },
     }
    })
    .then(function(result) {
      if (result.error) {
        // Show error to your customer
        showError(result.error.message);
      } else {
        // The payment succeeded!
        orderComplete(result.paymentIntent.id);
      }
    });
  };
};
/* ------- UI helpers ------- */
// Shows a success message when the payment is complete
var orderComplete = function(paymentIntentId) {
  changeLoadingState(false);
  document
    .querySelector(".result-message a")
    .setAttribute(
      "href",
      "http://127.0.0.1:8000/profile/"
    );
  document.querySelector(".result-message").classList.remove("hidden");
  document.querySelector("button").disabled = true;
};
// Show the customer the error from Stripe if their card fails to charge
var showError = function(errorMsgText) {
  loading(false);
  var errorMsg = document.querySelector("#card-errors");
  errorMsg.textContent = errorMsgText;
  setTimeout(function() {
    errorMsg.textContent = "";
  }, 4000);
};
// Show a spinner on payment submission
var changeLoadingState = function(isLoading) {
  if (isLoading) {
    document.getElementById("submit").disabled = true;
    document.querySelector("#spinner").classList.remove("hidden");
    document.querySelector("#button-text").classList.add("hidden");
  } else {
    document.getElementById("submit").disabled = false;
    document.querySelector("#spinner").classList.add("hidden");
    document.querySelector("#button-text").classList.remove("hidden");
  }
};</script>
{% endblock %}