{% extends "base.html" %} 
{% load static %} 
{% load widget_tweaks %} 

{% block title %} Pricing {% endblock %} 

{% block content %}
<section class="mt-5">
  <div class="container-lg">
    <div class="text-center">
      <h2>Pricing Plan</h2>
      <p class="lead text-muted">
        Choose a pricing plan to suit you
      </p>
    </div>
    
    <div class="row my-5 align-items-center justify-content-center">
      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-primary border-2">
          <div class="card-body text-center py-4">
            <h4 class="card-title">Starter edition</h4>
            <p class="lead card-subtitle">eBook download only</p>
            <p class="display-5 my-4 fw-bold text-primary">
              $10.00
            </p>
            <p class="card-text mx-5 text-muted d-none d-lg-block">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <a href="#" class="btn btn-outline-primary btn-lg mt-5">Subscribe</a>
          </div>
        </div>
      </div>
      <div class="col-9 col-lg-4">
        <div class="card border-primary border-2">
          <div class="card-header text-center text-primary">Most Popular</div>
          <div class="card-body text-center py-4">
            <h4 class="card-title">Complete edition</h4>
            <p class="lead card-subtitle">eBook download and all update</p>
            <p class="display-5 my-4 fw-bold text-primary">
              $20.00
            </p>
            <p class="card-text mx-5 text-muted d-none d-lg-block">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <a href="#" class="btn btn-outline-primary btn-lg mt-5">Subscribe</a>
          </div>
        </div>
      </div>
      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-primary border-2">
          <div class="card-body text-center py-4">
            <h4 class="card-title">Ultimate edition</h4>
            <p class="lead card-subtitle">eBook download only</p>
            <p class="display-5 my-4 fw-bold text-primary">
              $30.00
            </p>
            <p class="card-text mx-5 text-muted d-none d-lg-block">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <a href="#" class="btn btn-outline-primary btn-lg mt-5">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}