{% load static %}

<footer class="py-3 my-4 sticky-bottom">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="{% url "alert:contact" %}" class="nav-link px-2 text-muted">Contact</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy policy</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-center text-muted">© {% now "Y" %} Alert</p>
</footer>
