{% load static %}
{% load widget_tweaks %} 


    <div class="modal fade" id="update-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Profile</h4>
                </div>
                <div class="modal-body">
                    
                    <form action="{% url "account:edit_detail" %}" method="POST">
                        {% csrf_token %}
                        <div
                          class="container-fluid py-3 text-center"
                        >
                    
                            <div class="mt-3 px-3">{% render_field update_form.username class="form-control" placeholder="Username" %}</div>
                    
                            <div class="mt-3 px-3">{% render_field update_form.password class="form-control" placeholder="Password" %}</div>
                    
                            <div class="mt-3 px-3">{% render_field update_form.first_name class="form-control" placeholder="First name" %}</div>
                            
                            <div class="mt-3 px-3">{% render_field update_form.last_name class="form-control" placeholder="Last name" %}</div>
                            
                            <div class="mt-3 px-3">{% render_field update_form.email class="form-control" placeholder="Email" %}</div>
                            
                        </div>                             
                        <div class="container d-flex justify-content-end px-3">
                          <input type="submit" class="btn btn-primary btn-block btn-signin text-uppercase" value="Update">
                        </div>
                      </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
        