{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Update details
{% endblock %}

{% block style %}
  <!-- Custom styles for this template -->
  <link href="{% static "signin.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url "store:home" %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<a href="{% url "account:dashboard" %}" class="stext-109 cl8 hov-cl1 trans-04">
				Dashboard
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<span class="stext-109 cl4">
				Update profile
			</span>
		</div>
	</div>

	<!--================Login Box Area =================-->
	<section class="text-center">
		<div class="form-signin w-100 m-auto">
      <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Update profile</h1>
        
        {% for field in form %}
        <div class="form-floating">
          {% if field.errors %}
  			  {% for error in field.errors %}
  			  <div class="alert alert-primary" roles="alert">
  			    {{ error }}
  			  </div>
  			  {% endfor %}
  			  {% endif %}
  			  
  			  <label>{{ field.label }}</label>
          {% render_field field class="mb-2 form-control" placeholder=field.label %}
        </div>
        {% endfor %}
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Update
        </button>
        <p class="mt-5 mb-3 text-muted"><strong>Activate Two Factor Authentication?</strong></p>
        <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{% url "account:tf_activation" %}" class="btn btn-primary mb-3">
              {% if user.two_step_active %}
                Deactivate
              {% else %}
                Activate
              {% endif %}
            </a>
        </div>
        <p class="mt-5 mb-3 text-muted"><strong>Deactivate account?</strong></p>
        <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
            <a href="{% url "account:delete_account" %}" class="btn btn-danger mb-3">
              Delete account
            </a>
        </div>
      </form>
    </div>
  </section>
{% endblock %}