{% extends "base.html" %}
{% load widget_tweaks %} 
{% load static %}
{% load %}

{% block title %}
  Password Reset
{% endblock %}

{% block content %}
	<!--================Login Box Area =================-->

<div class="container">
	<div class="my-5 mt-5 pt-5">
		<h3 class="mb-2">Reset password</h3>
		<form class="form-group" hx-post="{% url "account:password-reset" %}" hx-target="#form-element">
		  {% csrf_token %}
		  
		  <p>Enter your email address to obtain a new password</p>
		  {% for field in form %}
			<div class="col-md-12 form-group">
			  
			  {% if field.errors %}
			  {% for error in field.errors %}
			  <div class="alert alert-primary" roles="alert">
			    {{ error }}
			  </div>
			  {% endfor %}
			  {% endif %}
			  
        {% render_field field class="form-control" id="name" name="name" placeholder=field.label %}
			</div>
			{% endfor %}
			<div class="my-3">
    			<button type="submit" value="submit" class="btn btn-outline-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
	<!--================End Login Box Area =================-->
{% endblock %}