{% extends "base.html" %}
{% load static %}

{% block title %}
  Password Reset Confirmation 
{% endblock %}

{% block content %}
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url "store:home" %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Password Reset Confirmation 
			</span>
		</div>
	</div>

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static "img/login.jpg" %}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="{% url "account:register" %}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6" id="form-element">
        	<div class="login_form_inner">
        		<h3>Reset password</h3>
        		<form hx-post="." hx-target="#form-element">
        		  {% csrf_token %}
        		  
        		  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        		  
        		  {% for field in form %}
        			<div class="col-md-12 form-group">
        			  
        			  {% if field.errors %}
        			  {% for error in field.errors %}
        			  <div class="alert alert-primary" roles="alert">
        			    {{ error }}
        			  </div>
        			  {% endfor %}
        			  {% endif %}
        			  
                {% render_field field class="form-control" id="name" name="name" placeholder=field.label %}
        			</div>
        			{% endfor %}
        			<div class="col-md-12 form-group">
        				<button type="submit" value="submit" class="primary-btn">Submit</button>
        				<a href="{% url "customet:login" %}">Already have an account? Login</a>
        			</div>
        		</form>
        	</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{% endblock %}

